@using Microsoft.AspNetCore.Identity
@using Neutron.Infrastructure

@inject UserManager<ApplicationUser> UserManager

<nav class="navbar">
    <form asp-action="Destroy" asp-controller="SignOut" class="navbar__container">
        <a asp-action="Index" asp-controller="Event" class="navbar__brand">Neutron</a>
        <span class="navbar__user" data-user="@UserManager.GetUserId(User)">@UserManager.GetUserName(User)?.ToUpper()?.FirstOrDefault()</span>
        <button class="navbar__button" data-sign-out>
            <i class="fa fa-sign-out"></i> Sign out
        </button>
    </form>
</nav>
