@using Neutron.Web.ViewModels

@model CreateSignInViewModel

@section styles {
    <link href="~/css/sign-in.css" rel="stylesheet" />
}

<partial name="_Alert" />

<main class="sign-in">
    <h1 class="sign-in__title">Welcome back</h1>

    <form asp-action="Create" asp-controller="SignIn" class="sign-in__form">
        <div class="input__group">
            <label asp-for="UserName" class="input__label"></label>
            <input asp-for="UserName" class="input__editor" />
            <span asp-validation-for="UserName"></span>
        </div>

        <div class="input__group">
            <label asp-for="Password" class="input__label"></label>
            <input asp-for="Password" class="input__editor" />
            <span asp-validation-for="Password"></span>
        </div>

        <button class="button" type="submit">Sign in</button>
        <a asp-action="Create" asp-controller="SignUp" class="button button--outline sign-in__sign-up-button">Sign up</a>
    </form>
</main>
