@using System
@using Neutron.Web.ViewModels

@model CreateEventViewModel

<partial name="_Navbar" />

<form asp-action="Create" asp-controller="Event">
    <input asp-for="Id" hidden value="@Guid.NewGuid()" />

    <div>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <input asp-for="Target" />
        <span asp-validation-for="Target"></span>
    </div>

    <button type="submit">Start</button>
</form>
