@using System
@using Neutron.Web.ViewModels

@model CreateEventViewModel

@section styles {
    <link href="~/css/event.css" rel="stylesheet" />
}

<partial name="_Alert" />

<partial name="_Navbar" />

<main class="event">
    <form asp-action="Create" asp-controller="Event" class="event__form">
        <input asp-for="Id" hidden value="@Guid.NewGuid()" />

        <div class="input__group">
            <label asp-for="Name" class="input__label"></label>
            <input asp-for="Name" class="input__editor" />
            <span asp-validation-for="Name"></span>
        </div>

        <div class="input__group">
            <label asp-for="Target" class="input__label"></label>
            <input asp-for="Target" class="input__editor" />
            <span asp-validation-for="Target"></span>
        </div>

        <button class="button event__button--start" type="submit">
            <i class="fa fa-play"></i> Start
        </button>
    </form>
</main>
