@using System
@using Neutron.Web.ViewModels

@model CreateEventViewModel

<partial name="_Navbar" />

<form asp-action="Create" asp-controller="Event">
    <input asp-for="Id" hidden value="@Guid.NewGuid()" />

    <input asp-for="Name" />

    <input asp-for="Target" />

    <button type="submit">Start</button>
</form>
