@using Neutron.Core

@model IEnumerable<Event>

<partial name="_Navbar" />

<ul>
    @foreach (var it in Model)
    {
        <li>
            <h3><a asp-action="Show" asp-controller="Event" asp-route-id="@it.Id">@it.Name</a></h3>
            <p>@it.Target</p>
            <div data-event="@it.Id"></div>
        </li>
    }
</ul>

@section scripts {
    <script src="~/js/event.js"></script>
}
