@using Neutron.Core

@model Event

<partial name="_Navbar" />

<main>
    <form asp-action="Destroy" asp-controller="Event">
        <input asp-for="Id" hidden />

        <h3>@Model.Name</h3>
        <p>@Model.Target</p>

        @{
            var timeLeft = Model.TimeLeft;
        }

        <p data-time-left>Days: @timeLeft.Days.ToString("00") Hours: @timeLeft.Hours.ToString("00"):@timeLeft.Minutes.ToString("00"):@timeLeft.Seconds.ToString("00")</p>

        <button type="submit">Stop</button>
    </form>
</main>

@section scripts {
    <script src="~/js/event/show.js"></script>
}
